#map {
    width:720px;
    height:400px;
    border: 6px solid #056af7;
    border-radius: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-content: center;
}

.title{
    text-align: center;
    font-family: 'Century Gothic';
    font-weight: bold;
    font-size: 200%;
}
.title2{
    text-align: center;
    font-family: 'Century Gothic';
    font-weight: bold;
    font-size: 100%;
}

body{
    background-image: url(https://c.wallhere.com/photos/d3/49/Need_for_Speed_car_race_cars_night_Street_Racing-1885531.jpg!d);
}